.container {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
  
  input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    border-radius: 10px;
    color: #fff;
    border: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  