body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator {
    width: 300px;
    background-color: #666;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-display {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    background-color: #333;
    color: #fff;
    text-align: right;
}
.input-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.input-group input[type="button"] {
    padding: 20px; /* Increase button padding */
    border: none;
    border-radius: 5px;
    font-size: px; /* Increase font size */
    background-color: #888;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-group input[type="button"]:hover {
    background-color: #666;
}
